<h1><%= post.title %></h1>
<div>
    <p><%= post.price %></p>
</div>
<div>
    <p><%= post.description %></p>
</div>
<div>
    <p><%= post.location %></p>
</div>
<div><a href="/posts/<%= post.id %>/edit">Edit post</a></div>