<h1><%= post.title %></h1>
<div>
    <p><%= post.price %></p>
</div>
<div>
    <p><%= post.description %></p>
</div>
<div>
    <p><%= post.location %></p>
</div>
<div><a href="/posts/<%= post.id %>/edit">
    <button>
            Edit post
    </button> </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>